@font-face {
    font-family: 'mabry-light-pro';
    src: url('/fonts/mabry-light-pro.eot');
    src: url('/fonts/mabry-light-pro.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mabry-light-pro.woff') format('woff'),
         url('/fonts/mabry-light-pro.woff2') format('woff2'),
         url('/fonts/mabry-light-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orpheus-pro';
    src: url('/fonts/Canada-Type-Orpheus-Pro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orpheus-pro';
    src: url('/fonts/Canada-Type-Orpheus-Pro-Italic.otf');
    font-weight: normal;
    font-style: italic;
}
