* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

html {
    overflow-x: hidden;
}

body {
    background-color: $off-white;
    animation: fade-in .5s;
}

ul {
    list-style: none;
}

img, video {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

input {
    outline: 0;
}