.fourohfour {
    font-family: 'orpheus-pro';
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10vh;
    height: 60vh;
    
    p {
        font-size: 60px;
        font-style: italic;
        line-height: 1;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
    }
    
}