.appointments {
    text-align: center;
    background: $green;
    color: $warm-grey;
    height: 100vw;
    @include medium {
        height: 33.333vw;
    }
    &__top,
    &__bottom {
        @extend .text-small;
        padding: $block-padding-small;
        @include medium {
            font-size: 13px;
            padding: 45px 40px 45px 40px;
        }
        @include large {
            padding: 45px $block-padding-medium 45px $block-padding-medium;
            font-size: 15px;
        }
    }
    &__top {
        position: absolute;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: .5px;
    }
    &__slider, &__slide {
        width: 100vw;
        height: 100vw;
        @include medium {
            width: 50vw;
            height: viewport-height-medium( .5 );
        }
    }
    &__title {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 1em;
        line-height: 1.1;
        @include small {
            font-size: 32px;
        }
        
        @include medium {
            font-size: 45px;
        }
    }
    &__bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
        
    .no-touch &:hover {
        .appointments__bottom {
            &:after {
                content: "BOOK NOW";
            }
            span {
                display: none;
            }
        }
        
        
    }
    
}