.order {
    margin-bottom: 50px;
    
    &--float-clear {
        @include medium {
            overflow: auto;
            margin-bottom: 2rem;
        }
        @include large {
            margin-bottom: 0;
        }
    }
    
    
    
    &__wrap {
        @include medium {
            width: calc(100% - 192px);
            margin-left: 96px;
        }
        
        @include large {
            width: 100%;
            margin-left: 0;
        }
    }
    
    
    &__header {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: .5px;
        
        @include medium {
            font-size: 13px;
        }
        
        @include large {
            font-size: 12px;
        }
    }
    &__select {
        text-transform: uppercase;
        letter-spacing: .5px;
        width: 50%;
    }
    &__guide {
        text-transform: uppercase;
        letter-spacing: .5px;
        text-align: right;
        width: 50%;
    }
    &__sizes {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;
        @include medium {
            margin-bottom: 50px;
        }
    }
    &__size {
        margin: .5em .8em 0 0;
        input {
            display: none;
        }
        input:checked + label {
            border-bottom: 1px solid black;
        }
        label {
            cursor: pointer;
            border-bottom: 1px solid transparent;
            transition: border-bottom-color .25s;
        }
        input[disabled] + label {
            cursor: inherit;
            opacity: .3;
        }
    }
    &__button {
        border: none;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: $warm-grey;
        background: $green;
        padding: 20px;
        width: 100%;
        font-family: inherit;
        font-size: $text-small;
        transition: background .25s;
        letter-spacing: .5px;
        -webkit-appearance: none;
        border-radius: 0;
        &[ disabled ] {
            color: $off-white;
            background: $warm-grey;
        }
        
        @include medium {
            // width: 45%;
            // margin-left: 1.5%;
            // margin-top: 1rem;
            float: left;
            width: calc( 50% - 20px );
        }
        @include large {
            width: 100%;
            margin-left: 0;
            margin-top: 0;
            float: none;
        }
    }
}