.preloader {
    $w: 512;
    $h: 57;
    $screenWidth: ( $w / ( $w + $h + $h ) ) * 100vw;
    $screenHeight: $screenWidth * ( $h / $w );
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $off-white;
    z-index: 1000;
    transition: transform .75s .33s;
    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform .33s;
        transform: scale( 0, 1 );
        transform-origin: 0 0;
        background: $green;
    }
    &__title {
        position: absolute;
        left: $screenHeight;
        width: $screenWidth;
        top: 50%;
        transform: translateY(-50%);
        @include medium {
            top: $screenHeight * .75;
            // width: calc( 100% - 6rem );
            transform: none;
        }
    }
    &--done {
        transform: translateY(-100%);
        pointer-events: none;
    }
}