.press {
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: viewport-height-small( .8 );
        padding: 30px;
        text-align: center;
        @include medium {
            padding: 3rem;
            min-height: viewport-height-medium( .8 );
        }
    }
    &__item {
        display: inline;
        h1 {
            font-size: 27px;
            @include medium {
                font-size: 45px;
            }
            @include large {
                font-size: 60px;
            }
            display: inline;
        }
    }
    &__thumbnail {
        position: fixed;
        top: 0;
        left: 0;
        height: 25vh;
        pointer-events: none;
        width: auto;
        // z-index: -10;
    }
}