{% extends "_layout" %}

{% block content %}


{% set loc = craft.request.firstSegment %}
{% set seg = craft.request.lastSegment %}

<div class="docs{% if loc == 'page' %}{% if seg != 'faq' %} docs--centered{% endif %}{% endif %} {% if loc == 'page' %}docs__body--page{% endif %}">
    
    <div class="row">
        <div class="s-col-12 m-col-6 m-off-3">
            <h1 class="docs__heading{% if loc == 'deliveries-and-returns'  %} docs__heading--nomargin{% endif %}">{{ entry.title | italicise_lowercase | replace( '\n', '<br>' ) | raw }}</h1>
        </div>
    </div>
    
    
    <div class="row row--margin docs__body {% if loc == 'page' %}docs__body--page{% endif %}">
        <div class="s-col-12 m-col-10 m-off-1 l-col-6 l-off-3">

            {% if loc == 'deliveries-and-returns'  %}
                
                {% include "partials/delivery-blocks" with { blocks : entry.deliveriesBlocks } %}
            
            {% else %}
            
                {{ entry.copy }}
            
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}
